<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Frankendael</title>

<link rel="stylesheet" href="/style.css">

</head>
<body>

<header>
<h1>Home</h1>
</header>

<main>